.productosA{
    list-style: style none;

}
.huevos{
    list-style-image: 🥚;
}
.pollo{
    list-style-image: 🐤;

}
.productosC{

}
body {
    font-family: Arial, sans-serif;
}

#productos-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.producto-item {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}